body {
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar-mobile {
    font-weight: 530;
    font-size: smaller;
    text-shadow: 0px 0px 8px rgba(255,255,255,0.7), 3px 3px black;
    align-items: center;
}

.navbar-mobile-contents {
    position: relative;
}

.navbar-desktop {
    background-color: black;
    display: flex;
    font-weight: 530;
    font-size: medium;
    text-shadow: 0px 0px 8px rgba(255,255,255,0.7), 3px 3px black;
    align-items: center;
}

#navbar-title {
    font-size: larger;
}

#navbar-logo {
    width: 25;
    height: 10;
}

.motto { 
    position: absolute;
    z-index: 12;
    top: 25%;
    left: 0;
    width: 100%;
    text-align: center;
}

#motto-text {
    color: white;
    text-shadow: 2px 2px 3px rgb(226, 205, 19), 5px 5px 5px rgb(7, 11, 127);
    font-size: 70px;
}

.carousel-inner > div > img {
    filter: blur(var(--value, 1rem)); --value:2px;
}

.main-section {
    color: #edf0ef;
    background-color: black;
    font-weight: 50;
    font-size: 18px;
}

.main-section > div > h1 {
    text-shadow: 2px 2px 3px rgb(226, 205, 19), 5px 5px 5px rgb(7, 11, 127);
    font-weight: bold;
    font-size: 35px;
}

#btn-mailing {
    box-shadow: 0px 0px 8px rgba(255,255,255,0.7), 0px 0px 4px rgb(7, 11, 127);
}

#btn-maizepages {
    box-shadow: 0px 0px 8px rgba(255,255,255,0.7), 0px 0px 4px rgb(226, 205, 19);
}

.team-name {
    color: black;
    font-size: 22px;
    font-weight: bold;
}

.team-pos {
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.team-description {
    color: black;
    font-size: 14px;
}

.btp-footer {
    font-size: 15px;
}

/* media queries */

@media (min-width: 1201px) {
    .navbar-mobile {
        display: none;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    .navbar-mobile {
        display: none;
    }
    .navbar-desktop {
        font-size: medium;
    }
    #navbar-title {
        font-size: larger;
    }
    #motto-text {
        font-size: 55px;
    }
}

@media (min-width: 799px) and (max-width: 992px) {
    .navbar-mobile {
        display: none;
    }
    .navbar-desktop {
        font-size: small;
    }
    #navbar-title {
        font-size: medium;
    }
    #navbar-logo {
        width: 45;
        height: 30;
    }
    #motto-text {
        font-size: 50px;
    }
}

@media (min-width: 577px) and (max-width: 798px) {
    .navbar-mobile {
        display: none;
    }
    .navbar-desktop {
        font-size: medium;
    }
    #navbar-title {
        font-size: small;
    }
    .navbar-icons {
        display: none;
    }
    #motto-text {
        font-size: 35px;
    }
    #logo-text {
        display: none;
    }
    .btp-footer {
        font-size: 12px;
        padding: 20px;
    }
    .footer-icon {
        width: 15px;
        height: 15px;
    }
}

@media (max-width: 576px) { 
    .navbar-desktop {
        display: none;
    }
    #navbar-title {
        font-size: medium;
        float: none;
        width: 100%;
    }
    #motto-text {
        font-size: 25px;
    }
    .btp-footer {
        font-size: 10px;
        padding: 20px;
    }
    .footer-icon {
        width: 15px;
        height: 15px;
    }
}
