@font-face {
  font-family: 'DM Sans';
  src: url(./assets/fonts/DMSans-Regular.ttf);
}

body {
  background-color: black;
  font-family: 'DM Sans', sans-serif;
  word-spacing: 1px;
}

#learn-more {
  color: #fff;
  text-decoration: underline;
}

.main-section {
  color: #edf0ef;
  background-color: black;
  font-weight: 40;
  font-size: 22px;
}

h1 {
  text-shadow: 0px 0px 8px rgba(111, 4, 173, 0.837);
  font-weight: bold;
  font-size: 40px;
  padding-top: 30px;
  color: #fff;
}

p > span {
  font-weight: bold;
  font-size: 28px;
  color: rgb(162, 56, 224);
  text-shadow: 0px 0px 2px #000, 0px 0px 4px rgba(255, 255, 255, 0.318);
}

#bg-team {
  background-image: "img/bgteam.jpg";
}

.gallery-year {
  color: rgb(228, 224, 224);
  font-size: 26px;
  font-weight: bold;
  text-shadow: 0px 0px 8px rgba(144, 6, 224, 0.837);
}

.card {
  background-color: black;
  backdrop-filter: blur(20px);
  box-shadow: 0px 0px 25px rgba(53, 52, 52, 0.7), 3px 3px black;
  box-shadow: 0px 0px 10px rgba(99, 7, 152, 0.837);
  width: 354px;
}

.pseudo-card {
  background-color: black;
  width: 354px;  
}

.card-img {
  width: 270px;
}

.team-name {
  color: rgb(228, 224, 224);
  font-size: 22px;
  font-weight: bold;
  text-shadow: 0px 0px 8px rgba(144, 6, 224, 0.837);
}

.team-pos {
  color: rgb(176, 171, 171);
  font-size: 16px;
  font-weight: 200;
}

.team-description {
  color: rgb(228, 224, 224);
  font-size: 13px;
  font-weight: 100;
}

.pseudo-description {
  color: rgb(228, 224, 224);
  font-size: 14px;
  font-weight: 100;
}

.team-labels {
  color: rgb(228, 224, 224);
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0px 0px 8px rgba(144, 6, 224, 0.922);
}

.footer-container {
  font-size: 12px;
}

.footer-link {
  text-decoration: underline;
}

footer > hr {
  border-top: 1px solid rgb(101, 97, 97);
}

/* media queries */

@media (min-width: 1201px) {
  .navbar-mobile {
      display: none;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .navbar-mobile {
      display: none;
  }
  .navbar-desktop {
      font-size: medium;
  }
  #navbar-title {
      font-size: larger;
  }
  #motto-text {
      font-size: 55px;
  }
  h1 {
      font-size: 35px;
  }
  .main-section {
      font-size: 24px;
  }
  p > span {
      font-size: 28px;
  }
}

@media (min-width: 799px) and (max-width: 992px) {
  .navbar-mobile {
      display: none;
  }
  .navbar-desktop {
      font-size: small;
  }
  #navbar-title {
      font-size: medium;
  }
  #navbar-logo {
      width: 45;
      height: 30;
  }
  #motto-text {
      font-size: 55px;
  }
  h1 {
      font-size: 35px;
  }
  .main-section {
      font-size: 20px;
  }
  p > span {
      font-size: 24px;
  }
  .home-btn {
      padding: 0.8rem 1rem;
      margin: 12px;
      font-size: 18px;
  }
}

@media (min-width: 577px) and (max-width: 798px) {
  .navbar-mobile {
      display: none;
  }
  .navbar-desktop {
      font-size: medium;
  }
  #navbar-title {
      font-size: small;
  }
  .navbar-icons {
      display: none;
  }
  #motto-text {
      font-size: 40px;
  }
  #logo-text {
      display: none;
  }
  .footer-container {
      font-size: 12px;
      padding: 20px;
  }
  .footer-icon {
      width: 15px;
      height: 15px;
  }
  .card {
      width: 50%;
  }
  .card-img-top {
      height: 50%;
  }
  h1 {
      font-size: 30px;
  }
  .main-section {
      font-size: 20px;
  }
  p > span {
      font-size: 24px;
  }
  #about {
      line-height: 30px;
  }
  .home-btn {
      padding: 0.5rem 0.8rem;
      margin: 10px;
      font-size: 16px;
  }
}

@media (max-width: 576px) { 
  .navbar-desktop {
      display: none;
  }
  #navbar-title {
      font-size: medium;
      float: none;
      width: 100%;
  }
  #motto-text {
      font-size: 30px;
  }
  .footer-container {
      font-size: 10px;
      padding: 20px;
  }
  .footer-icon {
      width: 15px;
      height: 15px;
  }
  h1 {
      font-size: 25px;
  }
  .main-section {
      font-size: 14px;
  }
  p > span {
      font-size: 18px;
  }
  #about {
      line-height: 26px;
  }
  .home-btn {
      padding: 0.3rem 0.5rem;
      margin: 8px;
      font-size: 14px;
  }
}
